<header class="cf">

	<div class="title">
		Prototypical job search thingy
	</div>
	
	<ul class="nav cf">
		<li class="text">View by:</li>
		<li class="link humans"><a href="/HumanList">Humans</a></li>
		<li class="link companys"><a href="/CompanyList">Companies</a></li>
		<li class="link jobLeads"><a href="/JobLeadList">Job Leads</a></li>
	</ul>

</header>
