	<section id="humanList" class="cf">
		{{#humans}}
		<div class="human cf" data-id="{{id}}">

			<div class="contact cf">
				
				<div class="name">
					<span class="name_first">
						{{name_first}}
					</span>
					<span class="name_middle">
						{{name_middle}}
					</span>
					<span class="name_last">
						{{name_last}}
					</span>
				</div>
	
				<div class="phones">
					{{#phones}}
					<div class="phone" data-id="{{id}}">
						<span class="isd">
							{{isd}}
						</span>
						<span class="area">
							{{area}}
						</span>
						<span class="prefix">
							{{prefix}}
						</span>
						<span class="suffix">
							{{suffix}}
						</span>
						<span class="extension">
							{{extension}}
						</span>
					</div>
					{{/phones}}
				</div>
	
				<div class="emails">
					{{#emails}}
					<div class="email" data-id="{{id}}">
						<div class="address">
							{{email}}
						</div>
					</div>
					{{/emails}}
				</div>
				
				<div class="urls">
					{{#urls}}
					<div class="url" data-id="{{id}}">
						<span class="uri">{{url}}</span>
					</div>
					{{/urls}}
				</div>

			</div>
			
			<div class="companys">
				{{#companys}}
				<div class="company" data-id="{{id}}">
					<span class="name">{{name}}</span>
				</div>
				{{/companys}}
			</div>
			
			<div class="jobLeads">
				{{#jobLeads}}
				<div class="jobLead" data-id="{{id}}">
					<label>Position:
						<span class="position">{{position}}</span>
					</label>
					<label>Salary:
						<span class="salary">{{salary}}</span>
					</label>
					<label>Status:
						<span class="status">{{status}}</span>
					</label>
					<label>Result:
						<span class="result">{{result}}</span>
					</label>
				</div>
				{{/jobLeads}}
			</div>
			
			<div class="notes">
				{{#notes}}
				<div class="note" data-id="{{id}}">
					<span class="text">{{text}}</span>
				</div>
				{{/notes}}
			</div>
			
		</div>
		{{/humans}}
	</section>
